@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .d-flex {
        display: flex;
    }
    .inline-block {
        display: inline-block;
    }
    .justfiy-center {
        justify-content: center;
    }
    .mt-2 {
        margin-top: 2px;
    }
    .ml-2 {
        margin-left: 2px;
    }
    .ml-8 {
        margin-left: 8px;
    }
}